@import './colours';

@mixin button($status: ok) {
  background: $bg-color;
  border: 1px solid $text-color;
  border-radius: 0.3em;
  font: inherit;
  padding: 0.3em 0.5em;

  @if $status == ok {
    border-color: $status-good;
  }
  @if $status == error {
    border-color: $status-poor;
  }
}
