$theme-blue: #1da3da;
$theme-blue-light: #8cd1ed;

$grey-medium: #7d7d7d;
$grey-light: #c0c0c0;

$tab-expand-bg: #e8e7e9;

$text-color: #555555;
$bg-color: #ffffff;

$rank-good: #82c675;
$rank-medium: #fbc030;
$rank-poor: #f05e55;
