$theme-blue: #1da3da;
$theme-blue-alt: #1595d3;
$theme-blue-light: #8cd1ed;
$btn-hover: #0e7aaf;

$status-good: #82c675;
$status-medium: #fbc030;
$status-poor: #f05e55;
$status-unknown: #7d7d7d;

$grey-deep: #666666;
$grey-medium: #7d7d7d;
$grey-light: #e8e7e9;
$grey-light-detail: darken($grey-light, 10%);
$sec-chart-border-color: #f00;

$tab-expand-bg: #e8e7e9;

$text-color: #555555;
$text-inverse: #ffffff;
$dam-height-text-color: #94daf7;
$dam-elevation-text-color: #4cafd8;
$dam-reservoir-text-color: #3f7086;
$borehole-color: #3f7086;

$bg-color: #ffffff;
$background-img-overlay: hsla(0, 0%, 0%, 0.6);
$background-overlay: hsla(0, 0%, 33%, 0.5);
$background-overlay-err: hsla(0, 0%, 0%, 0.6);

$background-map-overlay: transparentize($bg-color, 0.15);

$map-bg: #b5d0d0;

$shadow-size: 8px;
$shadow-color: hsla(0, 0%, 0%, 0.3);
$shadow: 0 $shadow-size/1.5 $shadow-size $shadow-color;
$shadow-inset: 0 $shadow-size $shadow-size (-$shadow-size) $shadow-color inset;
