$base-unit: 1em;

// widths and heights

// header
$dash-title-width-mobile: 60px;
$header-height: 98px;
$logo-width: 90px;
$logo-width-mobile: 50px;
$nav-item-height: 20px;
$top-nav-vert-pos-mobile: 65px;
$top-nav-right-mobile: 7px;

//tabs
$charts-nav-height: 41px;
$charts-summary-height: 78px;
$charts-above-height: $charts-nav-height + $charts-summary-height;
$filters-closed-height: 48px;
$filters-title-width: 220px;
$filters-item-width: 180px;
$tab-label-width: 200px;
$tab-icon-size: 20px;

$general-content-padding: 30px;
$homecontent-margin: 40px;
$homecontent-padding: 20px;

// footer
$copy-width-large: 680px;
$copy-width-med: 450px;
$divider-height: 12px;
$footer-height: 70px;

// charts
$main-chart-width: 63%;
$sec-chart-width: 34%;

// margins and padding
$logo-top-position: 18px;
$header-common-margin: 20px;
$nav-top-position: 30px;
$nav-top-position-mobile: 15px;

$footer-nav-top-position: 35px;
$footer-text-top-position: 20px;
$header-footer-padding: 35px;
$header-mobile-space: 20px;
$lang-item-mobile-padding: 12px;
$lang-nav-mobile-padding: 5px;
$nav-padding: 12px;

$content-padding-vert: 10px;
$content-padding-horiz: 100px;
$content-space-mobile: 50px;

$button-link-horiz: 100px;
$button-link-vert: 10px;

$chart-container-padding: 60px;

// screen sizes
$phone: 480px;
$tablet-portrait: 768px;
$tablet-alt: 980px;
$tablet-landscape: 1024px;
$laptop: 1280px;

@mixin up-to($phone) {
  @media (max-width: $phone) {
    @content;
  }
}

@mixin up-to($tablet-portrait) {
  @media (max-width: $tablet-portrait) {
    @content;
  }
}

@mixin up-to($tablet-landscape) {
  @media (max-width: $tablet-landscape) {
    @content;
  }
}

@mixin up-to($laptop) {
  @media (max-width: $laptop) {
    @content;
  }
}
