$base-unit: 1em;
$header-height: 80px;
$filters-closed-height: 33px;

$charts-nav-height: 41px;
$charts-summary-height: 78px;
$charts-above-height: $charts-nav-height + $charts-summary-height;

$footer-height: 60px;
$tab-label-width: 200px;
$tab-icon-size: 20px;
