@mixin list-unstyle() {
  list-style-type: none;

  &,
  & > li {
    margin: 0;
    padding: 0;
  }
}

@mixin list-inline() {

  &,
  & > li {
    display: inline-block;
  }
}

// probably should move this to it's own file?
@mixin border-radius($radius) {
  background-clip: padding-box;  /* stops bg color from leaking outside the border: */
  border-radius: $radius;
}
