@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,800,300,600);

// font sizes
$dash-title: 24px;
$dash-title-mobile: 13px;
$nav-text-mobile: 12px;
$filter-text: 18px;
$big-number: 28px;
$tab-text: 12px;
$small-text: 10px;
$footer-text: 12px;
$dashboard-intro: 32px;
$dashboard-intro-mobile: 25px;
$dashboard-description: 17px;
$btn-text-mobile: 12px;
$chart-title: 19px;
$main-chart-title: 23px;
$chart-legend-text: 12px;
$chart-legend-icon: 19px;
$static-content-title: 40px;
$static-content-text: 20px;
$chart-axis-text: 12px;

// font weights
$title-weight: 700;
$button-weight: 700;
$static-content-weight: 200;

$dash-title-line-height: 26px;
$dash-title-line-height-mobile: 15px;

@mixin no-margin() {
  margin: 0;
}

@mixin link-transition($link-duration, $link-easing) {
  transition: $link-duration, $link-easing;
}
