@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,800,300,600);

// font sizes
$dash-title: 24px;
$tab-text: 12px;

// font weights
$title-weight: 700;

@mixin no-margin() {
  margin: 0;
}

@mixin link-transition($link-duration, $link-easing) {
  transition: $link-duration, $link-easing;
}
