@import '../config/colours';
@import '../config/dimensions';
@import '../config/type';

.borehole-popup {
  display: table-cell;
  margin: 0;
  padding: 0 $base-unit;
  vertical-align: top;

  .row {
    box-sizing: border-box;
    display: table;
    padding: 1em 0;
    table-layout: fixed;
    width: 100%;

    & > div {
      display: table-cell;
    }
    & > h3 {
      display: table-cell;
      margin-bottom: 0;
    }
    & > p {
      display: table-cell;
    }
    .left {
      float: left;
    }

    .big-number {
      color: $text-color;
      font-size: $big-number;
      font-weight: bold;
      line-height: 1em;

      & > .number {
        font-weight: bold;
      }
    }
    .second-header {
      color: $text-color;
      font-size: 12px;
      font-weight: bold;
      text-transform: uppercase;
    }

    &.small {
      padding: 0.25em 0;

      .medum-number {
        color: $text-color;
        font-size: $medium-number;
        font-weight: bold;
        line-height: 1em;

        & > .number {
          font-weight: bold;
        }
      }
    }
  }

  .secondary-text {
    vertical-align: top;
    width: 25%;
  }

  .header {
    border-bottom: 1px solid $grey-light-detail;
    height: 50px;
  }
  .main-header {
    color: $theme-blue;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
  }

}

