@import '../config/colours';
@import '../config/dimensions';
@import '../config/type';
@import '../config/box';

.borehole-popup {
  display: table-cell;
  margin: 0;
  padding: 0 $base-unit;
  vertical-align: top;

  .popup-header {
    @include bottom-stat-border(3px, $grey-light);
    margin-bottom: $popup-space / 2;
    overflow: hidden;
    padding-bottom: $popup-space / 2;

    h3 {
      float: left;
      font-size: $popup-default-text;
      padding-top: $popup-space;
    }
  }

  .popup-col {
    @include bottom-stat-border(3px, $grey-light);
    float: left;
    width: 50%;
    margin-bottom: 20px;
    padding-bottom: 20px;

    h3 {
      line-height: 120%;
      width: 80%;
    }
  }

  .popup-stat {
    font-size: $medium-number;
    font-weight: $title-weight;
  }

  .popup-stat-container {
    .big-number {
      display: block;
      float: left;
      font-size: $popup-population-number;
      font-weight: $title-weight;
      margin-right: $popup-space;
    }
  }

  .stat-symbol {
    float: left;

    img {
      width: 100%;
    }

    &.borehole-big {
      margin-top: $popup-space / 4;
      width: $popup-population-width - 5;
    }

    &.borehole-small {
      margin-right: $popup-space/2;
      width: $popup-small-icon;
    }
  }

  .row {
    box-sizing: border-box;
    display: table;
    padding: 1em 0;
    table-layout: fixed;
    width: 100%;

    &.bordered {
      @include bottom-stat-border(3px, $grey-light);
      margin-bottom: $popup-space;
      padding-bottom: $popup-space;
    }

    .big-number {
      color: $text-color;
      font-size: $big-number;
      font-weight: bold;
      line-height: 1em;

      & > .number {
        font-weight: bold;
      }
    }
    // big number ends
  }
  // row ends



}
