@import '../config/colours';
@import '../config/dimensions';
@import '../config/type';
@import '../config/box';


.category-filter {
  border-right: 1px solid $grey-light-detail;
  color: $text-color;
  display: table-cell;
  font-size: $category-filter-text;
  font-weight: bold;
  margin: 0;
  min-width: $subcategory-filter-tab;
  padding: 0 $filter-list-left-margin;
  text-align: center;
  vertical-align: top;

  .category-filter-toggle {
    @include link-transition(450ms, ease);
    @include border-radius(4px);
    background-color: $bg-color;
    margin-top: $button-link-vert/2.2;
    padding: $button-link-vert $general-content-padding/2;
    text-align: left;
    width: $subcategory-flyout-dimensions;

    @include up-to($laptop) {
      margin-top: $button-link-vert/3;
    }

    &:hover {
      background: $theme-blue;
      color: $text-inverse;
    }

    i.fa {
      float: right;
      font-size: $subcategory-icon-size;
      margin-right: $general-content-padding/1.8;
    }
  }

  .flyout {
    background-color: none;
    height: $subcategory-flyout-height;
    overflow: auto;
    position: relative;
    width: $subcategory-filter-tab;
    z-index: 3;
  }
  .open-up {
    float: left;
    margin: 0;
    margin-top: $filter-category-expand-position;
    position: absolute;
    width: $subcategory-open-width;
    z-index: 10;
  }

  .open-down {
    border: 1px solid $grey-light;
    float: left;
    margin: 0;
    position: absolute;
    top: $subcategory-open-down-position;
    width: $subcategory-open-width;
    z-index: 5;
  }
  .visible {
    background: $bg-color;
    padding-left: 0;
    visibility: block;

    li {
      font-weight: $medium-font-weight;
      line-height: $subcategory-filter-line-height;
      list-style: none;
      margin-bottom: 5px;
      margin-left: $filter-list-left-margin;
      text-align: left;
      text-transform: capitalize;

      &:first-child {
        font-style: italic;
        font-weight: $title-weight;
      }

     }
  }
  .hidden {
    display: none;
  }

  .category-collapsable {
    @include bottom-stat-border(3px, $grey-light);
    @include link-transition(450ms, ease);
    background: $text-inverse;
    color: $theme-blue;
    cursor: pointer;
    font-size: 16px;
    font-weight: $button-weight;
    padding: $subcategory-right-top-bottom $general-content-padding $subcategory-right-top-bottom $general-content-padding/2;
    text-align: left;

    &:hover {
      background: $theme-blue;
      color: $text-inverse;
    }

    .fa {
      float: right;
      font-size: $view-charts-icon-size;
    }

  }
}
