@import '../config/colours';
@import '../config/dimensions';
@import '../config/type';

.category-filter {
  border-right: 1px solid $grey-light-detail;
  color: $text-color;
  display: table-cell;
  font-size: $category-filter-text;
  font-weight: bold;
  margin: 0;
  padding: 0 20px;
  min-width: $subcategory-filter-tab;
  text-align: center;

  .category-filter-toogle {
    background-color: $bg-color;
    padding: 10px 30px 10px 15px;
    text-align: left;

    &:hover {
      background: darken($grey-light, 10%);
    }

    i.fa {
      float: right;
      padding-right: 5px;
      padding-top: 2px;
      font-size: 17px;
    }
  }

  .flyout {
    background-color: $bg-color;
    height: 300px;
    overflow: auto;
    position: relative;
    width: 500px;
    z-index: 10;
  }
  .open-up {
    float: left;
    margin: 0;
    top: $filter-category-expand-position;
  }
  .open-down {
    float: left;
    margin: 0;
    top: 10px;
  }
  .visible {
    visibility: block;
    padding-left: 0;

     li {
       list-style: none;
       margin-left: $filter-list-left-margin;
       text-align: left;
       text-transform: uppercase;
     }
  }
  .hidden {
    display: none;
  }

  .category-collapsable {
    background: $text-inverse;
    border-bottom: 1px solid $grey-light;
    color: $theme-blue;
    cursor: pointer;
    padding: 27px 35px 27px 15px;
    text-align: left;

    &:hover {
      background: $theme-blue;
      color: $text-inverse;
    }

    .fa {
      float: right;
    }

  }
}
