@import '../config/colours';
@import '../config/dimensions';
@import '../config/type';

.charts-container {
  background: $grey-light;

  .tab-label {
    background: $grey-light;
    color: $text-color;
    display: table-cell;
    font-size: $tab-text;
    font-weight: bold;
    min-width: $tab-label-width;
    padding: $base-unit $base-unit*3;
    text-align: center;
  }
}
