@import '../config/colours';
@import '../config/dimensions';
@import '../config/type';

.charts-container {
  background: $grey-light;

  .charts-container-nav {
    height: $charts-nav-height;
  }

  .tab-label {
    background-position: $footer-height $tab-icon-size/2;
    background-size: $tab-icon-size;
    color: $text-color;
    display: table-cell;
    font-size: $tab-text;
    font-weight: bold;
    height: $charts-nav-height;
    line-height: $charts-nav-height;
    min-width: $tab-label-width;
    text-align: center;

    &:hover {
      background: darken($grey-light, 10%);
    }
  }

  .charts-container-summary {
    box-sizing: border-box;
    display: table;
    height: $charts-summary-height;
    padding: $base-unit 0;
    table-layout: fixed;
    width: 100%;
  }
}
