@import '../config/colours';
@import '../config/dimensions';
@import '../config/type';
@import '../config/box';

.dam-popup {
  padding: 0 $base-unit;

  .fa {
    color: $theme-blue;
    display: inline;
    font-size: $popup-default-text;
    margin-right: $popup-space/2;
  }

  .dam-popup-icon {
    float: left;
    margin-right: $base-unit;
    width: $dam-popup-icon-width;
    &.small {
      margin-right: $base-unit / 3;
      width: $dam-popup-icon-width - 25;
    }
  }

  .row {
    box-sizing: border-box;
    display: table;
    padding: 5px 0;
    width: 100%;

    &.bordered {
      @include bottom-stat-border(2px, $grey-light);
      margin-bottom: $popup-space / 2;
      padding-bottom: $popup-space;
    }

    .popup-col {
      float: left;
      width: 50%;
    }
  }
  //  row ends

  .popup-col-third {
    float: left;
    width: 33%;
  }

  .popup-stat {
    display: block;
    font-size: $medium-number;
    font-weight: $title-weight;
    margin-left: $popup-space + 3;
    margin-top: -6px;

    &.polygon-stat {
      margin-left: 0;
    }
    .metric-unit {
      font-size: $medium-text;
    }
  }

  .popup-header {
    @include bottom-stat-border(3px, $grey-light);
    margin-bottom: $popup-space / 2;
    overflow: hidden;
    padding-bottom: $popup-space;

    &.polygon-dam-header {
      padding-bottom: $popup-space;
    }

    .secondary-text {
      color: $text-color;
      float: left;
      font-weight: $title-weight;
      padding-top: $popup-sec-text-position;
    }

  }
  // header ends

  .stat-symbol {
    float: left;

    img {
      width: 100%;
    }
    &.dam-big {
      margin-top: $base-unit / 3;
      width: $popup-population-width + 6;
    }
  }

  .popup-stat-container {
    .big-number {
      color: $text-color;
      display: block;
      float: left;
      font-size: $big-number;
      font-weight: $title-weight;
      margin-right: $popup-space;
    }
  }

}
