@import '../config/colours';
@import '../config/dimensions';

.dash-layout {

  .dash-top {
    height: $map-nav-height - 3;
    .map-nav {
      border-bottom: 2px solid $grey-light;
    }

  }

  .map-container {
    bottom: $map-container-bottom;
    left: 0;
    position: absolute;
    right: 0;
    top: $map-nav-height + 2;

    // WARNING: These rules reach into child components, which is not nice
    // but since they affect each other, ... oh well
    & > .leaflet-map {
      height: 100%;
      z-index: 1;

      &.leaflet-container {
        background: $map-bg;  // override leaflet's setting
      }
    }
    .charts {
      z-index: 2;
    }
    .filters {
      z-index: 3;
    }
  }

  .dash-bottom {
    bottom: 0;
    height: 106px;
    left: 0;
    position: absolute;
    right: 0;
  }

  // .charts-container {
  //   $trans: 250ms ease;
  //   background-clip: content-box;  // don't extend background into spacer border
  //   border-top: 0 solid transparent;  // create a space behind filters
  //   bottom: 0;
  //   box-sizing: border-box;
  //   height: $charts-above-height;
  //   left: 0;
  //   position: absolute;
  //   right: 0;
  //   transition: height $trans, border-top $trans;  // open the spacer behind filters
  //   z-index: 2;
  //
  //   &.open {
  //     border-top-width: $filters-closed-height;  // spacer behind filters
  //     height: 100%;
  //   }
  // }
}
