@import '../config/colours';
@import '../config/dimensions';
@import '../config/type';

.dash-layout {

  .dash-top {
    height: $map-nav-height - 3;
    .map-nav {
      border-bottom: 2px solid $grey-light;
    }
  }

  .map-container {
    bottom: $map-container-bottom;
    left: 0;
    position: absolute;
    right: 0;
    top: $map-nav-height + 2;

    @include up-to($tablet-landscape) {
      bottom: $map-container-bottom + 100;
    }

    // WARNING: These rules reach into child components, which is not nice
    // but since they affect each other, ... oh well
    & > .leaflet-map {
      height: $full-height;
      z-index: 1;

      &.leaflet-container {
        background: $map-bg;  // override leaflet's setting
        font-family: $default-font;
      }
    }
    .charts {
      z-index: 2;
    }
    .filters {
      z-index: 3;
    }
  }

  .dash-bottom {
    bottom: 0;
    height: $dash-bottom-height;
    left: 0;
    position: absolute;
    right: 0;

    @include up-to($tablet-landscape) {
      bottom: 100px;
    }

    .map-nav,
    .view-mode > ul > li a {
      height: $dash-bottom-nav-height;
    }


  }


}
