@import '../config/colours';
@import '../config/type';
@import '../config/dimensions';
@import '../config/box';

.drill-down-viewer {
  @include border-radius(2px);
  @include bg-transparent(rgba($bg-color, 0.5), $bg-color);
  font-size: $medium-text;
  font-weight: $title-weight;
  left: $point-name-left-position;
  margin-top: $point-name-top-margin;
  padding: $drilldown-title-padding - 3 $drilldown-title-padding;
  position: fixed;
  text-align: left;
  top: $point-name-top-position;
  // width: $point-name-width;
  z-index: 11;

  .display-name {
    clear: both;
    width: 100%;
  }

  a {
    color: $theme-blue;
    cursor: pointer;
    display: block;
    font-weight: $title-weight;
    position: relative;

    &:hover {
      color: $hover-color;
    }

    &:after {
      content: '\f101';
      font-family: FontAwesome;
      margin-left: 5px;
    }

  }
}
