@import '../config/colours';
@import '../config/type';
@import '../config/dimensions';


.drill-down-viewer {
  font-weight: $title-weight;
  margin-top: $point-name-top-margin;
  position: fixed;
  right: $point-name-right-position;
  text-align: right;
  top: $point-name-top-position;
  width: $point-name-width;
  z-index: 10001;

  .display-name {
    clear: both;
    width: 100%;
  }

  a {
    color: darken($dam-reservoir-text-color, 10%);
    cursor: pointer;
    display: block;
    font-weight: $title-weight;
    position: relative;

    &:hover {
      color: $status-good;
    }

    &:before {
      content: '\f100';
      font-family: FontAwesome;
      margin-right: 5px;
    }

  }
}
