@import '../config/colours';
@import '../config/dimensions';
@import '../config/type';

.legend {
  background: $background-map-overlay;
  border: 3px solid $grey-light;
  bottom: 3%;
  box-shadow: $shadow;
  display: inline-block;
  font-size: $small-text;
  font-weight: $medium-font-weight;
  left: 1%;
  line-height: 97%;
  padding: $base-unit $base-unit * 1.2 $base-unit * 1.5 $base-unit * 1.2;
  position: absolute;
  width: $legend-dimensions;
  z-index: 1;  // needs to be specified >=1 to go above the map

  .row {
    box-sizing: border-box;
    display: table;
    position: relative;
    table-layout: fixed;
    width: 100%;

    span {
      position: absolute;
      top: 40%;
    }
  }

  .legend-block {
    border: 2px solid $grey-light-alt;
    display: block;
    float: left;
    height: $legend-block-height;
    margin-right: $legend-margin;
    margin-top: $legend-margin;
    width: $legend-block-width;
  }

  .legend-mark {
    border: 3px solid $grey-light-alt;
    border-radius: $legend-block-width;
    display: block;
    float: left;
    height: $legend-block-width;
    line-height: 30px;
    margin-right: $legend-margin;
    margin-top: $legend-margin;
    text-align: center;
    vertical-align: middle;
    width: $legend-block-width;

    &.dam-cluster {
      border: 3px solid $theme-blue;
    }
  }

  .legend-dam-mark {
    background-color: $theme-blue;
    border: 1px solid $bg-color;
    border-radius: $legend-point;
    display: block;
    float: left;
    height: $legend-point;
    line-height: 30px;
    margin-left: $legend-margin + 5;
    margin-right: $legend-margin + 10;
    margin-top: $legend-margin;
    text-align: center;
    vertical-align: middle;
    width: $legend-point;
  }

  .title {
    color: $theme-blue;
    font-size: $legend-title;
    font-weight: $title-weight;
    line-height: 105%;
    margin-bottom: $legend-margin;
    text-transform: uppercase;
  }
  .subtitle {
    color: $theme-blue;
    font-size: $legend-title - 4;
    font-weight: $title-weight;
    line-height: 105%;
    margin-bottom: $legend-margin;
  }
}
