@import '../config/colours';
@import '../config/dimensions';

.popup {
  background: $background-map-overlay;
  border: 2px solid $grey-light;
  bottom: 10%;  // TODO
  box-shadow: $shadow;
  height: $popup-width + 40;
  left: 60%;  // TODO
  overflow: hidden;
  padding: $base-unit;  // TODO
  position: absolute;  // TODO
  right: 15%;  // TODO
  top: 10%;  // TODO
  width: $popup-width;
  z-index: 1;  // needs to be specified >=1 to go above the map

  .close-button {
    background: $grey-light;
    color: $theme-blue;
    display: inline-block;
    font-weight: bold;
    height: $base-unit + 0.3;
    line-height: $base-unit + 0.2;
    position: absolute;
    right: $base-unit;
    text-align: center;
    top: $base-unit;
    width: $base-unit + 0.3;

    &:hover {
      background: $grey-medium;
      color: $text-inverse;
      cursor: pointer;
    }
  }

  h3 {
    color: $theme-blue;
    font-weight: bold;
    margin: 0;
    padding-bottom: 0;
    text-transform: uppercase;
  }
}
