@import '../config/colours';

.popup {
  background: $background-map-overlay;
  bottom: 10%;  // TODO
  box-shadow: $shadow;
  left: 60%;  // TODO
  padding: 1em;  // TODO
  position: absolute;  // TODO
  right: 15%;  // TODO
  top: 10%;  // TODO
  z-index: 1;  // needs to be specified >=1 to go above the map
}
