@import '../config/colours';
@import '../config/dimensions';
@import '../config/box';
@import '../config/type';

.share-selector {
  background: $theme-blue;
  display: table-cell;
  font-size: $category-filter-text;
  font-weight: bold;
  margin: 0;
  text-align: left;
  width: $full-width / 5;

  .menu-item {
    border-left: 1px solid $tab-expand-bg;

    a {
      color: $text-inverse;
      display: block;
      font-size: $tab-text;
      font-weight: bold;
      padding-bottom: $base-unit * 1.1;
      padding-top: $base-unit - 0.1;
      text-align: center;
      width: $full-width;

      .fa {
        display: inline-block;
        margin-left: $base-unit / 2;
      }

      &:hover,
      &.active {
        background: $theme-blue;
        color: $bg-color;
      }
    }
  }

  .floating-div {
    background: $theme-blue;
    padding-bottom: $share-icon-space /2;
    padding-top: $share-icon-space /2;
    position: absolute;
    top: $map-nav-height;
    vertical-align: top;
    width: 20%;
    z-index: 1000;
  }

  .share-wrapper {
    margin-left: auto;
    margin-right: auto;
    vertical-align: top;
    width: $share-wrapper-width;

    ul {
      @include list-unstyled();
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: $base-unit / 3.5;
      overflow: hidden;
      width: $full-width - 10;

      li {
        @include transparency(1);
        color: $text-inverse;
        display: block;
        float: left;
        font-size: $small-text;
        line-height: $small-text;
        margin-right: $share-icon-space + 5;
        padding-left: $share-icon-space;
        text-align: center;

        &:last-child {
          margin-right: 0;
        }

        &:hover {
          @include transparency(0.8);
        }

        .fa {
          clear: both;
          color: $bg-color;
          display: block;
          font-size: $share-icon-size;
          margin-bottom: $share-icon-space;

          &.fa-file-pdf-o {
            height: $share-icon-size / 2;
            margin-bottom: $share-icon-space * 2;
          }
        }
      }
    }
  }
}
