@import '../config/colours';
@import '../config/dimensions';
@import '../config/type';
@import '../config/box';

.waterpoint-popup {
  cursor: default;
  margin: 0;
  overflow-y: auto;
  padding: 0 $base-unit;

  .row {
    box-sizing: border-box;
    display: table;
    padding: $base-unit/3 0;
    table-layout: fixed;
    width: 100%;

    &.bordered {
      @include bottom-stat-border(2px, $grey-light);
      margin-bottom: $popup-space / 2;
      padding-bottom: $popup-space / 1.3;
    }

    &.population-ratio {
      h3 {
        display: block;
        &.left {
          float: left;
        }
      }

      .popup-stat-container {
        margin-top: -$base-unit;

        .big-number {
          display: block;
          float: left;
          font-size: $popup-population-number;
          font-weight: $title-weight;
          margin-right: $popup-space;

          > span {
            font-size: $popup-default-text;
            font-weight: $title-weight;
            margin-right: $popup-space;
          }
        }
      }

      .location-text {
        line-height: 5px;
      }
    }

    .popup-col {
      float: left;
      width: 50%;
    }

    //regional popup metric status
    .popup-col-third {
      float: left;
      width: 33%;
      .metric-status {
        border-right: 0;
        .big-number {
          color: $theme-blue;
          font-size: $big-number/1.2;
          line-height: $base-unit;
          margin-top: $base-unit/3;
        }
        &.poor > .icon {
          background: $status-poor;
          font-size: $metric-icon-size;
          line-height: $metric-icon-size - 7;
        }
      }
      .context {
        font-size: $small-text;
      }

    }

    .left {
      float: left;
    }

    p {
      font-size: $popup-default-text;
      margin: 0;

      &.source-label {
        color: $grey-deep;
        font-size: $popup-source-label;
        margin-top: - $base-unit;
     }

      .highlight {
        font-weight: $title-weight;
        text-transform: uppercase;
     }
    }
    // p ends
  }
  // row ends

  .waterpoint-icon {
    width: $popup-icon-width;
  }

  .popup-header {
    @include bottom-stat-border(2px, $grey-light);
    margin-bottom: $popup-space / 2;
    overflow: hidden;
    padding-bottom: $popup-space / 2;

    h3 {
      font-size: $popup-default-text;
    }

    .secondary-text {
      color: $text-color;
      float: left;
      font-weight: $title-weight;
      margin-top: 0;
      padding-top: 0;
    }

    .icon {
      border-radius: $metric-icon-size;
      color: $text-inverse;
      float: left;
      font-size: $metric-icon-size * 0.6;
      font-weight: bold;
      height: $metric-icon-size;
      line-height: $metric-icon-size;
      margin-right: $popup-space + 3;
      text-align: center;
      width: $metric-icon-size;
    }

    .good > .icon {
      background: $status-good;
    }
    .medium > .icon {
      background: $status-medium;
    }
    .poor > .icon {
      background: $status-poor;
      font-size: $metric-icon-size;
      font-weight: bold;
      line-height: $popup-icon-line-height + 5;
    }
  }
  // popup header end

  .popup-stat {
    font-size: $popup-default-text;
    font-weight: $title-weight;
    margin-left: $popup-space + 3;
  }

  .stat-symbol {
    float: left;

    img {
      width: 100%;
    }

    &.population-big {
      margin-top: $popup-space + 2;
      width: $popup-population-width;
    }

    &.population-small {
      margin-right: $popup-space/2;
      width: $popup-small-icon;
    }
  }

  .fa {
    color: $theme-blue;
    display: inline;
    font-size: $popup-default-text;
    margin-right: $popup-space/2;
  }

  &.polygon {
    .non-functional-toggle {
      display: none;
    }
    .row {
      margin-bottom: $polygon-row-space;
    }
  }

}
