@import '../config/colours';
@import '../config/dimensions';
@import '../config/type';

.waterpoint-popup {
  margin: 0;
  padding: 0 $base-unit;

  .row {
    box-sizing: border-box;
    display: table;
    padding: 0.5em 0;
    table-layout: fixed;
    width: 100%;

    & > div {
      display: table-cell;
    }
    & > h3 {
      display: table-cell;
      margin-bottom: 0;
    }
    & > p {
      display: table-cell;
    }

    .big-number {
      color: $text-color;
      font-size: 17px;
      font-weight: bold;

      & > .number {
        font-weight: $title-weight;
      }
    }
    .second-header {
      color: $text-color;
      font-size: $popup-label-text;
      font-weight: $title-weight;
      text-transform: uppercase;
    }
    .location-text {
      color: $theme-blue;
      font-size: 16px;
      font-weight: $title-weight;

    }
  }

  .secondary-text {
    color: $grey-medium;
    font-weight: $title-weight;
    padding-right: 20px;
    text-align: right;
    width: 45%;
  }

  .icon {
    border-radius: $metric-icon-size;
    color: $grey-light;
    display: table-cell;
    font-size: $metric-icon-size * 0.9;
    font-weight: bold;
    height: $metric-icon-size;
    line-height: $metric-icon-size;
    text-align: center;
    width: $metric-icon-size;
    border: 1px solid #333;
  }

  .good > .icon {
    background: $status-good;
  }

  .medium > .icon {
    background: $status-medium;
  }

  .poor > .icon {
    background: $status-poor;
  }

  .header {
    border-bottom: 1px solid $grey-light-detail;
    height: 50px;
  }
  .main-header {
    color: $theme-blue;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
  }

}
