@import '../config/colours';
@import '../config/dimensions';
@import '../config/type';

.waterpoint-popup {
  $icon-size: 30px;

  display: table-cell;
  margin: 0;
  padding: 0 $base-unit;
  vertical-align: top;

  .row {
    box-sizing: border-box;
    display: table;
    padding: 1em 0;
    table-layout: fixed;
    width: 100%;

    & > div {
      display: table-cell;
    }
    & > h3 {
      display: table-cell;
      margin-bottom: 0;
    }
    & > p {
      display: table-cell;
    }

    .big-number {
      color: $text-color;
      font-size: $tab-text;
      line-height: 1em;
      font-weight: bold;

      & > .number {
        font-weight: bold;
      }
    }
    .second-header {
      color: $text-color;
      font-size: 12px;
      font-weight: bold;
      text-transform: uppercase;
    }
    .location-text {
      color: $theme-blue;
      font-size: $tab-text;
      line-height: 1em;
      font-weight: bold;      
    }
  }

  .waterpoint-icon {
    width: 15%;
  }
  .secondary-text {
    width: 25%;
    vertical-align: top;
  }

  .icon {
    border-radius: $icon-size;
    color: $grey-light;
    display: table-cell;
    font-size: $icon-size * 0.9;
    font-weight: bold;
    height: $icon-size;
    line-height: $icon-size;
    text-align: center;
    vertical-align: middle;
    width: $icon-size;
  }

  .good > .icon {
    background: $status-good;
  }

  .medium > .icon {
    background: $status-medium;
  }

  .poor > .icon {
    background: $status-poor;
  }

  .header {
    border-bottom: 1px solid #cfccd1;
    height: 50px;
  }
  .main-header {
    color: $theme-blue;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
  }

}
