@import '../config/colours';
@import '../config/dimensions';

.waterpoints {
  .map-container {
    bottom: $charts-above-height;
    left: 0;
    position: absolute;
    right: 0;
    top: $filters-closed-height;

    & > .leaflet-map {
      height: 100%;

      &.leaflet-container {
        background: $map-bg;  // override leaflet's setting
      }
    }
  }
}
