@import '../config/colours';
@import '../config/dimensions';
@import '../config/type';
@import '../config/box';

.waterpoints {
  .map-container {
    bottom: 106px;
    left: 0;
    position: absolute;
    right: 0;
    top: $filters-closed-height;

    & > .leaflet-map {
      height: 100%;

      &.leaflet-container {
        background: $map-bg;  // override leaflet's setting
      }
    }
  }
}


.secondaryCharts {
  background: $bg-color;
  overflow: hidden;
  padding: $chart-container-padding $chart-container-padding;

  .col-left {
    float: left;
    width: $main-chart-width;
  }
  .col-right {
    float: right;
    width: $sec-chart-width;
  }
}

// chart titles - apply to all 3 charts
h3 {
  &.chart-title {
    color: $theme-blue-alt;
    font-size: $chart-title;
    font-weight: $static-content-weight;
    margin-top: 0;
  }

  &.main-chart-title {
    @extend .chart-title;  // lint warning here to use % but it affects the style
    font-size: $main-chart-title;
    }

  .chart-helptext {
    color: $grey-medium;
    font-size: $normal-text;
    margin-bottom: 20px;
    a {
      color: $theme-blue;
    &:hover {
      color: $hover-color;
  }
}
    }
  }

// chart containers
.chart-container {
  @include border-radius(4px);
  @include chart-border();
}
