@import 'config/dimensions';
@import 'global';

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.header {
  height: $header-height;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.filters {
  height: $filters-closed-height;
  left: 0;
  position: absolute;
  right: 0;
  top: $header-height;
}

.main {
  bottom: $footer-height;
  left: 0;
  position: absolute;
  right: 0;
  top: $header-height + $filters-closed-height;

  .charts-container {
    bottom: 0;
    height: $charts-closed-height;
    left: 0;
    position: absolute;
    right: 0;
  }
}

.footer {
  bottom: 0;
  left: 0;
  min-height: $footer-height; 
  position: absolute;
  right: 0;
}
