@import 'config/dimensions';
@import 'global';

html,
body {
  height: $full-width;
  margin: 0;
  padding: 0;
  @include up-to($tablet-landscape) {
    overflow-x: hidden;
  }
}

.header {
  height: $header-height;
}

.main {
  bottom: $footer-height;
  left: 0;
  position: absolute;
  right: 0;
  top: $header-height+5;

  @include up-to($tablet-portrait) {
    height: $full-width;
    padding: $content-space-mobile 0;
    top: $content-space-mobile;
  }
  &.secondary {
    clear: both;
    overflow: hidden;
    padding: $secondary-wrapper-padding 0;
    position: relative;
    top: 0;
  }
}

.footer {
  @include up-to($tablet-portrait) {
    display: none;
  }

  bottom: $footer-position;
  height: $footer-height;
  left: 0;
  position: absolute;
  right: 0;
}
