@import 'config/dimensions';
@import 'global';

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  @include up-to($tablet-landscape) {
    overflow-x: hidden;
  }
}

.header {
  height: $header-height;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.filters {
  height: $filters-closed-height;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 3;
}

.main {
  bottom: $footer-height;
  left: 0;
  position: absolute;
  right: 0;
  top: $header-height;

  @include up-to($tablet-portrait) {
    height: 100%;
    padding: $content-space-mobile 0;
    top: $content-space-mobile;
  }

  .map-container {
    z-index: 1;
  }

  .charts-container {
    $trans: 250ms ease;
    background-clip: content-box;  // don't extend background into spacer border
    border-top: 0 solid transparent;  // create a space behind filters
    bottom: 0;
    box-sizing: border-box;
    height: $charts-above-height;
    left: 0;
    position: absolute;
    right: 0;
    transition: height $trans, border-top $trans;  // open the spacer behind filters
    z-index: 2;

    &.open {
      border-top-width: $filters-closed-height;  // spacer behind filters
      height: 100%;
    }
  }
}

.footer {
  @include up-to($tablet-portrait) {
    display: none;
  }

  bottom: 0;
  left: 0;
  min-height: $footer-height;
  position: fixed;
  right: 0;
}
