@import 'config/dimensions';
@import 'global';

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  @include up-to($tablet-landscape) {
    overflow-x: hidden;
  }
}

.header {
  height: $header-height;
}

.main {
  bottom: $footer-height;
  left: 0;
  position: absolute;
  right: 0;
  top: $header-height+3;

  @include up-to($tablet-portrait) {
    height: 100%;
    padding: $content-space-mobile 0;
    top: $content-space-mobile;
  }
}

.footer {
  @include up-to($tablet-portrait) {
    display: none;
  }

  bottom: 0;
  height: $footer-height;
  left: 0;
  overflow-y: auto;
  position: absolute;
  right: 0;
}
