@import '../config/colours';
@import '../config/dimensions';
@import '../config/type';

.boreholes-stats-chart {
  margin: $general-content-padding 0 0 0;

  .x {
    .tick text {
      fill: $text-color;
      font-size: $chart-axis-text;
      font-weight: $chart-axis-text-weight;
      text-anchor: inherit;
    }
  }
  .y {
    .tick text {
      fill: $text-color;
      font-size: $chart-axis-text;
      font-weight: $chart-axis-text-weight;
    }
  }
  .label {
    fill: $text-color;
    font-size: $chart-axis-text;
    font-weight: bold;
  }
}

.waterpoints-chart-options-container {
  ul li {
    float: left;
    list-style: none;
    margin-right: 20px;

    &.diameter { color: $diameter_color; }
    &.depth_meter { color: $depth_meter_color; }
    &.static_water_level {color: $static_water_level_color; }
    &.dynamic_water_level_meter {color: $dynamic_water_level_meter_color; }
    &.draw--_down_meter {color: $draw-_down_meter_color; }
    &.yield_meter_cubed_per_hour {color: $yield_meter_cubed_per_hour_color; }
  }
}

ul.boreholes-options {
  display: block;
  list-style: none;
  list-style-position: outside;
  overflow: hidden;

  li {
    @include up-to($laptop) {
      font-size: $chart-legend-text;
      width: 100%;
    }
    float: left;
    font-size: $chart-axis-text;
    width: 49%;
    }
}
