@import '../config/colours';
@import '../config/dimensions';
@import '../config/type';
@import '../config/box';


.metric-status {

  border-right: 1px solid $grey-light-detail;
  display: table-cell;
  margin: 0;
  padding: 0 $base-unit;
  text-align: center;
  vertical-align: top;
  width: $metric-status-width;

  .fa {
    bottom: $metric-stat-flyout-toggle-position;
    color: $text-color;
    font-size: $subcategory-icon-size;
    position: absolute;
  }

  & > .icon {
    border-radius: $metric-icon-size;
    color: $grey-light;
    display: block;
    float: left;
    font-size: $metric-icon-size;
    font-weight: bold;
    height: $metric-icon-size;
    line-height: $metric-icon-size;
    margin-left: $metric-stat-left-space;
    text-align: center;
    width: $metric-icon-size;
  }

  &.boreholes > .icon {
    background: $borehole-color;
    font-size: $good-status-font-size;
  }

  .content {
    display: block;
    float: left;
    padding-left: $base-unit / 2;

    .big-number {
      color: $theme-blue;
      font-size: $big-number;
      line-height: $base-unit;

      & > .number {
        font-weight: bold;
      }
    }

    .context {
      color: $text-color;
      font-size: $small-text;
      font-weight: bold;
    }
  }

};
