@import '../config/colours';
@import '../config/dimensions';
@import '../config/type';

.dams-chart {
  margin: 0;
  h3 {
    font-size: $main-chart-title;
  }
  .waterpoints-chart-options-container {
    margin-bottom: $general-content-padding;
  }

  .x {
    text-align: left;
    .tick text {
      -webkit-transform: rotate(-75deg);
      direction: rtl;
      fill: $text-color;
      font-size: $chart-axis-text;
      font-weight: $chart-axis-text-weight;
      overflow: hidden;
      pointer-events: auto;
      text-anchor: inherit;
      text-overflow: ellipsis;
      transform: rotate(-75deg);
      white-space: nowrap;
      width: 10px;
      x: -20;
      y: 5;
    }
  }

  .y {
    .tick text {
      fill: $text-color;
      font-size: $chart-axis-text;
      font-weight: $chart-axis-text-weight;
    }
  }
  .label {
    fill: $text-color;
    font-size: $chart-axis-text;
  }
  .tooltip {
    align-items: center;
    background-color: $bg-color;
    border-right: 1px solid $grey-light-detail;
    justify-content: center;
    padding: 3px;

    .tooltip-title {
      fill: $text-color;
    }

    .chart-title {
      color: $text-color;
      font-size: $chart-title;
      font-weight: bold;
      text-transform: capitalize;
    }

    .metric-title {
      color: $text-color;
      font-size: $small-text;
      font-weight: bold;
      text-transform: capitalize;
    }

    .medium-number {
      color: $theme-blue;
      font-size: $medium-number;
      line-height: $base-unit;

      .number {
        font-weight: bold;
      }
    }
    .context {
      color: $text-color;
      font-size: $small-text;
      font-weight: bold;
    }

    .row {
      border-bottom: 1px solid $grey-light-detail;
      padding: $base-unit / 2 $base-unit / 2;
    }
  }
}

.chart-helptext {
  color: $grey-medium;
  font-size: $normal-text;
  margin-bottom: 0;
  a {
  color: $theme-blue;
  &:hover {
    color: $hover-color;
  }
}
}
