@import '../config/colours';
@import '../config/dimensions';
@import '../config/type';


.metric-status {

  border-right: 1px solid $grey-light-detail;
  display: table-cell;
  margin: 0;
  padding: 0 $base-unit;
  text-align: center;
  vertical-align: top;
  width: $metric-status-width;

  .fa {
    bottom: $metric-stat-flyout-toggle-position;
    color: $text-color;
    font-size: $subcategory-icon-size;
    position: absolute;
  }

  & > .icon {
    border-radius: $metric-icon-size;
    color: $grey-light;
    display: block;
    float: left;
    font-size: $metric-icon-size;
    font-weight: bold;
    height: $metric-icon-size;
    line-height: $metric-icon-size;
    margin-left: $metric-stat-left-space;
    text-align: center;
    width: $metric-icon-size;
  }

  &.good > .icon {
    background: $status-good;
    font-size: $good-status-font-size;
  }

  &.medium > .icon {
    background: $status-medium;
    line-height: $medium-status-line-height;
  }

  &.poor > .icon {
    background: $status-poor;
  }

  .grouped {
    background-color: $bg-color;
    display: table-cell;
    float: left;
    height: $metric-stat-height;
    margin-left: $metric-stat-flyout-left;
    margin-top: $metric-stat-flyout-top;
    position: absolute;
    text-align: center;
    vertical-align: top;
    width: $metric-status-width+$general-content-padding;
    z-index: 9;

    &.visible {
      display: block;
    }
    &.hidden {
      display: none;
    }

    .group-content {
      border-bottom: 3px solid $grey-light;
      padding: $base-unit $base-unit / 2;

      .medium-number {
        color: $theme-blue;
        font-size: $medium-number* 1.4;
        line-height: $base-unit;

        & > .number {
          font-weight: bold;
        }
      }
      .context {
        color: $text-color;
        font-size: $small-text;
        font-weight: bold;
      }
    }

  }

  .content {
    display: block;
    float: left;
    padding-left: $base-unit / 2;

    .big-number {
      color: $theme-blue;
      font-size: $big-number;
      line-height: $base-unit;

      & > .number {
        font-weight: bold;
      }
    }

    .context {
      color: $text-color;
      font-size: $small-text;
      font-weight: bold;
    }
  }

};
