@import '../config/colours';
@import '../config/dimensions';
@import '../config/type';
@import '../config/box';


.metric-summary {
  @include chart-row();

  .chart-helptext {
    color: $grey-medium;
    font-size: 10px;
    margin-bottom: 20px;
  }

  .padding {
    padding-right: 5px;
  }

  h3.chart-title {
    font-weight: $title-weight;
    margin-bottom: 0;
  }
  .summary {
    background: $bg-color;
    display: table-cell;
    overflow: hidden;
    padding: 0 $chart-container-padding 0 0;
    text-align: left;
    vertical-align: top;


    &.chart-container {
      border: 0;
      box-shadow: none;
    }

    .group-content {
      float: left;
      padding: 0 0 $base-unit / 2 0;
      width: 23%;

      .row {
        display: inline-flex;
      }

      .medium-number {
        color: $grey-medium;
        font-size: $medium-number;
        font-weight: $title-weight;
        line-height: $base-unit;
        padding-left: $charts-section-space / 2;
        padding-right: $charts-section-space / 2;

        .number-value {
          display: block;
          margin-top: $charts-section-space - 2;
        }

      }

      .percent-value {
        .medium-number {
          border-right: 2px solid $grey-light;
          color: $theme-blue;
          font-size: $percent-value;
        }
      }
      .context {
        color: $text-color;
        font-size: $medium-text - 2;
        font-weight: bold;
        margin-bottom: $charts-section-space - 9;
        text-transform: uppercase;
      }
    }
  }
}
