@import '../config/colours';
@import '../config/dimensions';
@import '../config/type';


.metric-summary {
  padding-left: $general-content-padding;

  .padding {
    padding-right: 5px;
  }

  h3.chart-title {
    font-weight: $title-weight;
  }
  .summary {
    background: $bg-color;
    display: table-cell;
    overflow: hidden;
    padding: 0 $chart-container-padding 0 0;
    text-align: left;
    vertical-align: top;


    &.chart-container {
      border: 0;
      box-shadow: none;
    }

    .group-content {
      padding: 0 0 $base-unit / 2 0;

      .row {
        display: inline-flex;
      }

      .medium-number {
        color: $theme-blue;
        font-size: $medium-number+10;
        line-height: $base-unit;

        & > .number {
          font-weight: bold;
        }
      }
      .context {
        color: $text-color;
        font-size: $medium-text - 2;
        font-weight: bold;
        text-transform: uppercase;
      }
    }
  }
}
