@import '../config/colours';
@import '../config/dimensions';
@import '../config/type';

.overview-bar {
  background: $grey-light;
  height: $overview-bar-height;
  overflow-y: auto;
  padding: $nav-padding;  // TODO: tighten up this layout

  & > .waterpoints-metrics {
    display: flex;  // TODO: this might break IE
  }
}
.charts-container-summary {
  background: $grey-light;
  box-sizing: border-box;
  display: table;
  height: $charts-summary-height;
  padding: $base-unit/1.8 0 $base-unit/3 0;
  table-layout: fixed;
  width: $full-width;

  @include up-to($tablet-landscape) {
    height: $charts-summary-height + 30;
  }
}
