@import '../config/colours';
@import '../config/type';

.stack-bar-chart {
  margin: 0;

  .x {
    text-align: left;
    .tick text {
      -webkit-transform: rotate(-75deg);
      direction: rtl;
      fill: $text-color;
      font-size: $chart-axis-text;
      overflow: hidden;
      pointer-events: auto;
      text-anchor: inherit;
      text-overflow: ellipsis;
      transform: rotate(-75deg);
      white-space: nowrap;
      width: 10px;
      x: -20;
      y: 5;
    }
  }

  .y {
    .tick text {
      fill: $text-color;
      font-size: $chart-axis-text;
    }
  }
  .label {
    fill: $text-color;
    font-size: $chart-axis-text;
  }
  .tooltip {
    align-items: center;
    background-color: #eee;
    border-radius: 4px;
    border: 2px solid;
    justify-content: center;
    opacity: 0.6;
    padding: 3px;  
  }
    

}
