@import '../config/colours';
@import '../config/type';
@import '../config/box';

.total-servedpopulation-chart {
  @include chart-row();

  h3 {
    color: $theme-blue;
    font-weight: $title-weight;
  }

  .x {
    .tick text {
      -webkit-transform: rotate(-75deg);
      direction: rtl;
      fill: $text-color;
      font-size: $chart-axis-text;
      font-weight: 600;
      text-anchor: inherit;
      transform: rotate(-75deg);
    }
  }
  .y {
    .tick text {
      dominant-baseline: text-after-edge;
      fill: $text-color;
      font-size: $chart-axis-text;
      font-weight: $title-weight;
    }
  }
  .label {
    fill: $text-color;
    font-size: $chart-axis-text;
    font-weight: bold;
  }
  .tooltip {
    align-items: center;
    background-color: $bg-color;
    border: 3px solid $grey-light;
    height: 60px;
    justify-content: center;
    padding: $base-unit/2 $base-unit 0;
    width: $tooltip-width/3;
  }
}
