@import '../config/colours';
@import '../config/dimensions';
@import '../config/type';

.waterpoint-pie-chart {
  text {
    fill: $text-color;
    font-size: 10px;
    font-weight: 600;
  }

  .tooltip {
    align-items: center;
    background-color: $bg-color;
    border: 3px solid $grey-light;
    height: 50px;
    justify-content: center;
    padding: $base-unit/2 $base-unit 0;
    width: $tooltip-width/3;

    .chart-title {
      color: $theme-blue;
      font-size: $chart-title;
      font-weight: $title-weight;
      text-transform: capitalize;
    }
  }
}
