@import '../config/colours';
@import '../config/dimensions';
@import '../config/type';
@import '../config/box';

.mainChart {
  margin-bottom: $general-content-padding;
  width: 100%;
}

.group-option {
  .selectable {
    margin-top: $charts-section-space - 7;
  }
  span {
    float: left;
    margin-right: $charts-section-space / 2;
  }
}
.stack-bar-chart {
  margin: 0;

  .x {
    text-align: left;
    .tick text {
      -webkit-transform: rotate(-75deg);
      direction: rtl;
      dominant-baseline: text-after-edge;
      fill: $text-color;
      font-size: $chart-axis-text;
      font-weight: $chart-axis-text-weight;
      overflow: hidden;
      pointer-events: auto;
      text-anchor: inherit;
      text-overflow: ellipsis;
      transform: rotate(-75deg);
      white-space: nowrap;
      width: 10px;
    }
  }

  .y {
    .tick text {
      fill: $text-color;
      font-size: $chart-axis-text;
      font-weight: $chart-axis-text-weight;
    }
  }
  .label {
    fill: $text-color;
    font-size: $chart-axis-text;
    font-weight: bold;
  }
  .tooltip {
    align-items: center;
    background-color: $bg-color;
    border: 3px solid $grey-light;
    height: 110px;
    justify-content: center;
    padding: $base-unit/2 $base-unit 0;
    width: $tooltip-width - 50;

    ul {
      @include list-unstyled();
      margin-top: -10px;

      li {
        margin-bottom: $base-unit/2;
        margin-right: $base-unit;
        position: absolute;
        }

      // functional
      li:nth-child(3) {
        @include waterpoints-tooltip-stats(50px, 17px);
        .metric-title {
          color: $status-good;
        }
      }

      // functional- needs repair
      li:nth-child(2) {
        @include waterpoints-tooltip-stats(50px, 150px);
        .metric-title {
          color: $status-medium;
        }
      }

      // non-functional main stat
      li:first-child {
        @include waterpoints-tooltip-stats(50px, 352px);
        .metric-title {
          color: $status-poor;
        }
      }

      li:first-child,
      li:nth-child(3),
      li:nth-child(2) {
        width: $waterpoint-stat-wide;

        .metric-title {
          font-size: $metric-title-big;
          font-weight: $title-weight;
          line-height: 110%;
        }

        .waterpoint-tooltip-stat-wrapper {
          color: $grey-medium;
          font-size: $big-number - 20;
          line-height: $big-number - 15;
        }

      }
          display: block;
          padding-bottom: $charts-section-space / 2;
          font-size: $medium-number - 8;
  }

    .tooltip-title {
      fill: $grey-medium;
    }

    .chart-title {
      color: $theme-blue;
      font-size: $chart-title;
      font-weight: $title-weight;
      text-transform: capitalize;
    }

    .percent-value-wrapper {
      display: block;
      width: 100%;
      .number {
        font-size: 23px;
      }
    }

    .waterpoint-tooltip-stat-wrapper {
      color: $text-color;
      font-weight: $title-weight;
    }

    .row {
      @include bottom-stat-border(2px, $grey-light);
      padding: 0 $base-unit/2 $base-unit/2 0;
    }
  }

}
