@import '../config/colours';
@import '../config/dimensions';
@import '../config/type';
@import '../config/box';


.waterpoint-pie-chart {

  h3 {
    color: $theme-blue-alt;
    font-size: $chart-title;
    font-weight: $title-weight;
    margin-bottom: 0;
    margin-top: $pie-chart-title-top-space;
  }

  text {
    fill: $text-color;
    font-size: $small-text;
    font-weight: $title-weight;
  }

  .tooltip {
    align-items: center;
    background-color: $bg-color;
    border: 3px solid $grey-light;
    height: $pie-chart-tooltip-height;
    padding: $base-unit/2 $base-unit 0;
    text-align: center;
    width: $pie-chart-tooltip-width;

    .chart-title {
      color: $theme-blue;
      font-size: $medium-text;
      font-weight: $title-weight;
      text-transform: capitalize;
    }
  }

  .legend-container {
<<<<<<< HEAD
    height: 170px;
    min-height: 170px;
    overflow: hidden;
    padding: 0 0 $base-unit 0;
    position: relative;

    .pie-legend-position {
      position: absolute;
    }

=======
    background: $grey-light;
    background-clip: padding-box;
    border-radius: 3px;
    height: 90px;
    padding: 0.3em 0 0.33333em 0;
>>>>>>> master

    ul {
      display: block;
      list-style-position: inside;
      margin-left: 0;
      padding-left: 0;
      width: 100%;

      li {
        float: left;
        list-style: none;
        list-style-position: inside;
        margin-right: $chart-legend-margin;
        position: relative;
        width: 42%;

        span {
          &.t {
            font-size: $pie-chart-option;
            font-weight: $chart-axis-text-weight;
            margin-left: $pie-chart-checkbox-size + 6;
          }
        }

        .selectable {
          background: $bg-color;
          background-clip: padding-box;
          border: 1px solid $theme-blue;
<<<<<<< HEAD
=======
          border-radius: 1px;
>>>>>>> master
          float: left;
          height: $pie-chart-checkbox-size;
          margin-right: $pie-chart-checkbox-margin-top * 2;
          margin-top: $pie-chart-checkbox-margin-top;
          position: absolute;
          width: $pie-chart-checkbox-size;

          &.selected {
            background: $theme-blue;
          }
        }
      }
    }
  }
}
