@import '../../config/colours';
@import '../../config/dimensions';
@import '../../config/type';

.boreholes-stats-chart {
  margin: $general-content-padding 0 0 0;
}

ul.boreholes-options {
  display: block;
  list-style: none;
  list-style-position: outside;
  overflow: hidden;

  li {
    @include up-to($laptop) {
      font-size: $chart-legend-text;
      width: 100%;
    }
    float: left;
    font-size: $chart-axis-text;
    width: 49%;
    }

}
