@import '../../config/colours';
@import '../../config/dimensions';
@import '../../config/type';

.metric-status {

  border-right: 1px solid $grey-light-detail;
  display: table-cell;
  margin: 0;
  padding: 0 $base-unit;
  vertical-align: top;
  width: $metric-status-width;
  text-align:center;

  & > .icon {
    border-radius: $metric-icon-size;
    color: $grey-light;
    display: inline-block;
    font-size: $metric-icon-size;
    font-weight: bold;
    height: $metric-icon-size;
    line-height: $metric-icon-size;
    text-align: center;
    width: $metric-icon-size;
  }

  &.good > .icon {
    background: $status-good;
  }

  &.medium > .icon {
    background: $status-medium;
  }

  &.poor > .icon {
    background: $status-poor;
  }

  .content {
    display: inline-block;
    padding-left: $base-unit / 2;

    .big-number {
      color: $theme-blue;
      font-size: $big-number;
      line-height: 1em;

      & > .number {
        font-weight: bold;
      }
    }

    .context {
      color: $text-color;
      font-size: $small-text;
      font-weight: bold;
    }
  }

};
