@import '../../config/colours';

.metric-status {
  margin: 0;

  .icon {
    margin: 0;

    &.green {
      background-color: $rank-good;
    }

    &.yellow {
      background-color: $rank-medium;
    }

    &.red {
      background-color: $rank-poor; 

    }
  }
};
