@import '../../config/colours';

.metric-status {
  margin: 0;

  .icon {
    margin: 0;

    &.good {
      background-color: $rank-good;
    }

    &.medium {
      background-color: $rank-medium;
    }

    &.poor {
      background-color: $rank-poor; 

    }
  }
};
