@import '../../config/colours';
@import '../../config/dimensions';
@import '../../config/type';

.waterpoint-functional-chart {
  margin: 0;
  .x {
    .tick text {
      -webkit-transform: rotate(-75deg);
      fill: $text-color;
      font-size: 11px;
      transform: rotate(-75deg);
      direction: rtl;
      text-anchor: inherit;
    }
  }
  .y {
    .tick text {
      fill: $text-color;
      font-size: 11px;
    }
  }
  .label {
    fill: $text-color;
    font-size: $chart-axis-text;
  }
}
