@import '../../config/colours';
@import '../../config/dimensions';
@import '../../config/type';

.waterpoint-functional-chart {
  margin: 0;
  .tick text {
    -webkit-transform: rotate(-75deg);
    fill: $text-color;
    font-size: 12px;
    top: 4;
    transform: rotate(-75deg);
    x: -20;
    y: 5;
  }
}
