@import '../config/colours';
@import '../config/dimensions';
@import '../config/list';
@import '../config/type';

.filters {
  background: $grey-light;
  bottom: 0;
  left: 0;
  max-height: 100%;
  overflow-y: auto;
  padding: $base-unit*2 $base-unit*2 $base-unit*2 $base-unit*3;
  position: absolute;
  right: 0;

  h3 {
    color: $theme-blue-alt;
    font-size: $chart-title;
    font-weight: $static-content-weight;
    margin-top: 0;
  }
}
