@import '../config/colours';
@import '../config/dimensions';
@import '../config/list';
@import '../config/type';
@import '../config/box';

.filters {
  @include transparency(0.7);
  background: $grey-light;
  bottom: 0;
  left: 0;
  max-height: 100%;
  overflow-y: auto;
  padding: $base-unit*2 $base-unit*2 $base-unit*2 $base-unit*3;
  position: absolute;
  right: 0;

  h3 {
    color: $theme-blue-alt;
    font-size: $chart-title;
    font-weight: $title-weight;
    margin: 0;
    padding: 0;
  }
  h4 {
    margin: $base-unit 0 $base-unit/3 0;
  }

  .filterContainter {

    .filter {
      float: left;
      padding-right: 0;
      width: 30%;
    }
  }
}

.waterpoint-filter {
  width: 35%;

  .range {
    .slider {
      width: 60%;
    }
  }

}
