@import '../config/colours';
@import '../config/pseudo';
@import '../config/type';
@import '../config/box';
@import '../config/dimensions';

.range {
  margin-bottom: $base-unit;

  .number {
    display: inline-block;
    font-size: $medium-number - 4;
    font-weight: normal;
    margin: 0;
  }

  .slider {
    background: $map-bg;
    display: inline-block;
    height: $track-height;
    margin: 0 $general-content-padding/6;
    width: $track-width;

    .bar-1 {
      background: $theme-blue-light;
      height: $track-height;
    }

    .handle {
      background: $theme-blue;
      border-radius: $handle-radius;
      cursor: pointer;
      height: $handle-height;
      margin-top: -($handle-height - $track-height) / 2;
      position: relative;
      width: $handle-width;

      &:before,
      &:after {
        @include pseudo-position();
        background: $theme-blue-light;
        height: $grabby-height;
        left: 40%;
        margin-top: -$grabby-height / 2;
        top: 50%;
        width: $grabby-width;
      }

      &:before {
        margin-left: -$grabby-center-off;
        right: 50%;
      }

      &:after {
        left: 45%;
        margin-left: $grabby-center-off;
      }
    }
  }
}
