@import '../config/colours';
@import '../config/dimensions';
@import '../config/type';
@import '../config/box';


.search-panel {
  background: $bg-color;
  border: 3px solid $grey-light;
  box-shadow: $shadow;
  display: inline-block;
  font-size: $medium-text;
  height: $search-height;
  left: 3%;
  padding: $base-unit $base-unit * 1.2 $base-unit * 1.8 $base-unit * 1.2;
  position: absolute;  // TODO
  top: 2.3%;
  width: $search-width;
  z-index: 12;  // needs to be specified >=1 to go above the map

  .search-field {
    .search-form-label {
      display: block;
      float: left;
      font-size: $popup-label-text;
      margin-right: $base-unit * 1.7;
      padding-top: $search-button-padding+1;
      text-align: right;
      width: $search-label-widht;
    }
  }
  .search-field-help {
    color: $filter_search_field_help;
    font-weight: 600;
    left: 155px;
    position: absolute;
    top: 21px;
    /* z-index: -1; */
  }

  .button {
    float: right;
    margin-right: $search-button-right-margin;
    width: $search-submit-btn-width;
  }

  input {
    border: 1px solid $grey-light;
    margin-bottom: $search-input-top /2;
    margin-top: $search-input-top;
    outline: none;
    padding: $search-button-padding;
    width: 100%;
    &:hover {
      border: 1px solid $theme-blue;
    }
  }

  .close-button {
    background: $grey-light;
    color: $theme-blue;
    display: inline-block;
    font-weight: bold;
    height: $base-unit + 0.3;
    line-height: $base-unit + 0.2;
    position: absolute;
    right: $base-unit;
    text-align: center;
    top: $base-unit * 1.2;
    width: $base-unit + 0.3;

    &:hover {
      background: $hover-color;
      color: $text-inverse;
      cursor: pointer;
    }
  }
}

.search-wrapper {
  @include border-radius(2px);
  background: $bg-color;
  color: $theme-blue;
  font-size: $search-text;
  font-weight: $title-weight;
  left: $search-icon-top-position * 4;
  position: absolute;  // TODO
  text-align: center;
  text-transform: uppercase;
  top: $search-icon-top-position;
  width: $search-btn-width;
  z-index: 1;  // needs to be specified >=1 to go above the map

  &:hover {
    color: $hover-color;
  }

  .search-icon {
    @include border-radius(4px);
    border: 2px solid $bg-color;
    display: inline-block;
    left: $search-icon-top-position * 4;
    padding: $search-button-padding;
  }
}
