@import '../config/type';
@import '../config/colours';
@import '../config/dimensions';
@import '../config/box';

.button {
  @include border-radius(3px);
  background: $theme-blue;
  display: inline-block;
  font-weight: $button-weight;
  margin: $button-link-vert 0;
  padding: $button-link-vert $button-link-horiz;
  text-transform: uppercase;
  a {
    color: $text-inverse;
    @include up-to($phone) {
      font-size: $btn-text-mobile;
    }
  }
  &:hover {
    background: $btn-hover;
  }
}
