@import '../config/colours';
@import '../config/dimensions';
@import '../config/box';

.selectable {
  @include border-radius(2px);
  background: $bg-color;
  border: 1px solid $theme-blue;
  float: left;
  height: $checkbox-dimensions;
  margin-right: $checkbox-dimensions;
  width: $checkbox-dimensions;

  &:hover {
    background: $theme-blue-alt;
  }
  &.selected {
    background: $theme-blue;

    &:hover {
      background: $theme-blue-light;
    }
  }
}
