@import '../config/colours';
@import '../config/type';

.footer {
  background: $theme-blue;
  color: $white;

  a {
    color: $white;
  }

  .footer-nav {
    float: left;
  }

  .copy {
    @include no-margin();
    display: inline-block;
    float: right;
    font-size: 0.8em;
    text-align: right;
    width: 66%;
  }
}
