@import '../config/colours';
@import '../config/type';
@import '../config/dimensions';


.footer {
  background: $theme-blue;
  color: $bg-color;
  padding-left: $header-common-margin;
  padding-right: $header-common-margin;

  a {
    color: $bg-color;
  }

  .copy {
    display: inline-block;
    float: right;
    font-size: $footer-text;
    margin-top: $footer-text-top-position;
    text-align: right;
    width: $copy-width-large;

    @media (max-width: $l) {
      width: $copy-width-med;
    }
    @media (max-width: $xs) {
      width: 100%;
      text-align:center;
    }
  }
}
