@import '../config/dimensions';
@import '../config/type';
@import '../boilerplate/logo';


.header {
  padding-left: $header-mobile-space;
  padding-right: $header-mobile-space;

  .header-nav {
    @include up-to($tablet-landscape) {
      width: 50%;
    }
    float: right;
    margin-top: $nav-top-position;
  }
}
