@import '../config/dimensions';
@import '../config/colours';
@import '../config/list';
@import '../config/box';
@import '../config/type';

ul.language-selector {
  @include list-inline();
  @include list-unstyle();
  @include border-radius(3px);
  background: $tab-expand-bg;
  padding-bottom: $nav-padding;
  padding-top: $nav-padding;

  & > li {
    background: $tab-expand-bg;
    border-right: 1px solid $theme-blue;
    height: $nav-item-height;
    padding-left: $header-common-margin;
    padding-right: $header-common-margin;

    &:last-child {
      border: 0;
    }

    &:hover {
      color: $theme-blue;
    }
  }
}
