@import '../config/type';
@import '../config/colours';
@import '../config/dimensions';

.logo {
  float: left;

  img {
    float: left;
    margin-right: $header-common-margin;
    margin-top: $logo-top-position;
    width: $header-height;

    @media (max-width: $s) {
      margin-right: 10px;
      width: $logo-width-mobile;
    }

    }

  h1 {
    color: $theme-blue-alt;
    display: inline-block;
    float: left;
    font-size: $dash-title;
    font-weight: $title-weight;
    line-height: $dash-title-line-height;
    margin-top: $header-common-margin;
    text-transform: uppercase;
    width: $tab-label-width;

    @media (max-width: $s) {
      font-size: $dash-title-mobile;
      line-height: $dash-title-line-height-mobile;
      margin-top: 20px;
      width: $dash-title-width-mobile;
      }
    }
}
