@import '../config/buttons';
@import '../config/colours';
@import '../config/dimensions';
@import '../config/type';

.map-nav-primary {
  @include button-reset();
  color: $text-color;
  display: block;
  font-size: $tab-text;
  width: 20%;

  &:focus {
    outline: none;
  }
  &:hover {
    cursor: pointer;
  }



  // customized styles through extraClasses props
  &.charts-toggle {
    background: $grey-light;
    font-weight: bold;

    &:hover {
      background: $theme-blue;
      color: $text-inverse;
    }
  }
  &.filters-toggle {
    background: $theme-blue;
    color: $text-inverse;
    .fa {
      display: inline-block;
      margin-left: $view-charts-icon-margin;
    }
  }
}
