@import '../config/dimensions';
@import '../config/colours';
@import '../config/list';
@import '../config/box';
@import '../config/type';

ul.open-data-nav {
  @include list-inline();
  @include list-unstyle();
  @include up-to($tablet-landscape) {
    position: absolute;
    right: $top-nav-right-mobile;
    top: $top-nav-vert-pos-mobile;
  }
  @include up-to($phone) {
    right: $top-nav-right-mobile;
  }

  li {
    @include up-to($tablet-portrait) {
      padding-left: $nav-padding;
      padding-right: $nav-padding;
    }

    border-right: 1px solid $grey-light;
    height: $nav-item-height;
    line-height: $filter-text;
    padding-left: $header-common-margin;
    padding-right: $header-common-margin;

    &:last-child {
      border-right: 0;
      }

    a {
      color: $text-color;

      &:hover {
        color: $theme-blue;
          }
        }
      }
  }

// the same nav in footer
.footer-nav {
  @include up-to($phone) {
    display: none;
  }

  float: left;
  margin: $footer-text-top-position+3 0;

  ul.open-data-nav {
    @include up-to($tablet-landscape) {
      left: $header-mobile-space;
      position: absolute;
      top: $header-mobile-space;
    }

    li {
      @include up-to($tablet-alt) {
        padding-left: $nav-padding;
        padding-right: $nav-padding;
      }

      border-right: 1px solid $bg-color;

      a {
        color: $text-inverse;
        font-size: $footer-text;

        &:hover {
          color: $text-color;
        }
      }

      &:last-child {
        border-right: 0;
      }
    }
  }
}
