@import '../config/dimensions';
@import '../config/colours';
@import '../config/list';
@import '../config/box';
@import '../config/type';

ul.open-data-nav {
  @include list-inline();
  @include list-unstyle();
  margin-right: $general-content-padding;

  @include up-to($tablet-landscape) {
    position: absolute;
    right: $top-nav-right-mobile + 200;
    top: $top-nav-vert-pos-mobile;
  }
  @include up-to($tablet-portrait) {
    @include border-radius(3px);
    background: $theme-blue;
    line-height: $default-line-height -10;
    padding: $nav-padding / 2;
    right: $top-nav-right-mobile - 20;
    top: $top-nav-vert-pos-mobile + 65;
    z-index: 1;
  }

  li {
    @include up-to($tablet-portrait) {
      padding-left: $nav-padding - 3;
      padding-right: $nav-padding - 3;
    }

    border-right: 1px solid $navigation-border;
    height: $nav-item-height;
    line-height: $filter-text;
    padding-left: $header-common-margin - 2;
    padding-right: $header-common-margin - 2;

    &:last-child {
      border-right: 0;
      }

    a {
      color: $text-color;
      font-size: $nav-links;

      @include up-to($tablet-portrait) {
        color: $text-inverse;
      }

      &:hover {
        color: $theme-blue;
          }
        }
      }
  }

// the same nav in footer
.footer-nav {
  @include up-to($phone) {
    display: none;
  }

  float: left;
  margin: $footer-text-top-position+3 0;

  ul.open-data-nav {
    @include up-to($tablet-landscape) {
      margin-top: $general-content-padding;

      @include up-to($tablet-portrait) {
        background: none;
        margin-top: -$general-content-padding;
      }

    }

    li {
      @include up-to($tablet-alt) {
        padding-left: $nav-padding - 4;
        padding-right: $nav-padding - 4;
      }

      border-right: none;

      a {
        color: $text-inverse;
        font-size: $footer-text + 1;

        @include up-to($tablet-landscape) {
          color: $text-color;
        }

        &:hover {
          @include up-to($tablet-landscape) {
            color: $hover-color;
          }
        }
      }

      &:last-child {
        border-right: 0;
      }
    }
  }
}
