@import '../layout';
@import '../config/colours';
@import '../config/dimensions';
@import '../config/type';

// homepage

.homebanner {
  float: left;
  height: $full;
}

.homebanner img {
  height: $full;
}

.homecontent  {
  overflow: hidden;
  padding: $content-padding-vert $content-padding-horiz;

  h2 {
    color: $grey-medium;
    font-size: $dashboard-intro;
    font-weight: $static-content-weight;
   }
}
