@import '../layout';
@import '../config/colours';
@import '../config/dimensions';
@import '../config/type';
@import '../config/box';

// homepage
.homebanner {
  @include up-to($tablet-landscape) {
    min-width: 100%;
    position: absolute;
}

  float: left;
  height: 100%;
  max-width: 50%;
  overflow: hidden;
}

.homebanner img {
  display: block;
  height: 100%;
  width: auto;

  @include up-to($tablet-landscape) {
    height: auto;
    min-height: 100%;
    width: auto;
}

  @include up-to($tablet-portrait) {
    height: 100%;
    min-height: 100%;
  }

}

.homecontent  {
  float: left;
  margin-left: $homecontent-margin;
  overflow: auto;
  padding: $content-padding-vert;
  width: $home-content-width;

  @include up-to($tablet-landscape) {
    background-color: $background-img-overlay;
    height: 100%;
    margin-left: 0;
    overflow-y: auto;
    padding: 0 $content-padding-horiz;
    position: absolute;
    width: auto;
  }

  @include up-to($tablet-portrait) {
    padding: 0 $homecontent-padding;
  }

  h2 {
    color: $grey-medium;
    font-size: $dashboard-intro;
    font-weight: $static-content-weight;

    @include up-to($tablet-landscape) {
      color: $text-inverse;
    }
    @include up-to($tablet-portrait) {
      font-size: $dashboard-intro-mobile;
      font-weight: $title-weight;
    }

   }

  p {
    font-size: $dashboard-description;
    @include up-to($tablet-landscape) {
      color: $text-inverse;
    }
  }
}

.static-content {
  margin: 0 auto;
  width: $static-content-width;
  &.text-center {
    text-align: center;
  }

  h2 {
    color: $theme-blue;
    font-size: $static-content-title;
    font-weight: $static-content-weight;
  }

  p {
    color: $text-color;
    font-size: $static-content-text;
    font-weight: $static-content-weight;
  }
}

.feedback-form-container {
  @include up-to($tablet-landscape) {
    padding-bottom: $iframe-height-table;
  }
  @include up-to($tablet-portrait) {
    left: $iframe-left-tablet;
    padding-bottom: $iframe-height-phone;
    width: $iframe-width-tablet;

  }
  height: 0;
  overflow: hidden;
  padding-bottom: $iframe-height-laptop;
  padding-top: $iframe-container-padding;
  position: relative;

  iframe {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: $iframe-width-desktop;
  }
}

.data-sources {
  list-style: none;
  margin-left: 0;
  margin-top: $general-content-padding;
  padding-left: 0;

  ul {
    list-style: none;

    li {
      float: left;
      margin-right: $data-source-margin;
      text-align: center;

      a {
        color: $theme-blue;

        &:hover {
          color: $text-color;
        }
      }

      img {
        display: block;
        margin: auto;
        margin-bottom: $header-common-margin;
      }
    }
  }

}

.static-layout {
  .main {
    top: $header-common-margin;
  }
}
