@import '../config/colours';
@import '../config/list';
@import '../config/dimensions';
@import '../config/type';

.view-mode {
  display: table-cell;
  vertical-align: top;
  width: 100%;

  &.empty {
    background: $theme-blue;
  }

  & > ul {
    @include list-unstyle();
    background: $theme-blue;
    display: table;
    float: right;
    table-layout: fixed;
    width: 100%;

    & > li {
      border-left: 1px solid $theme-blue-light;
      display: table-cell;
      vertical-align: top;

      a,
      .disabled {
        display: table-cell;
        font-size: $tab-text;
        height: $dash-bottom-nav-height;
        padding: 0 $base-unit;
        text-align: center;
        vertical-align: middle;
        // hack to make the a fill the li's width:
        width: 1000px;
      }

      a {
        color: $text-inverse;

        &:hover,
        &.active {
          background: $btn-hover;  // TODO: this is prob not the right var for this
        }
        &.active {
          font-weight: bold;
        }
      }

      .disabled {
        background: $grey-medium;
        color: lighten($grey-medium, 25%);

        &:hover {
          cursor: not-allowed;
        }
      }
    }
  }
}

.icon-chart {
  margin-right: $view-charts-icon-margin;
  width: $view-charts-icon-size;
}
